.main__header{
    padding: 25px 5px;
    margin: 0;
    background-color: #260415;
    color: white;
}

h2.main__header{
    text-align: center;
    font-size: 3rem;
}

label{
    font-weight: bold;
    font-size: 1.15em;
}